SignatureForgers/bin/Debug/Usuario_9/9_usuario.txt
SignatureForgers/bin/Debug/Usuario_12/12_usuario.txt
SignatureForgers/bin/Debug/Usuario_8/8_usuario.txt
SignatureForgers/bin/Debug/Usuario_10/10_usuario.txt
SignatureForgers/bin/Debug/Usuario_11/11_usuario.txt